.logo {
    width: 50px; /* you can use % */
    height: auto;
}

.top-buffer {
    margin-top: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.scrollable-table {
    height: 650px;
    overflow: auto;
}

.bottom-buffer {
    margin-bottom: 90px;
}

.thumbnail_img {
    width: 45px;
    height: auto;

}