<!doctype html>
<html ng-app="githubApp">
<head>
	<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">

	<title>My GitHub Top Lists</title>

</head>

<body ng-controller='MainCtrl'>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Repo List</a>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="hero-unit">
			<div class="jumbotron">
				<h1>Welcome to Repo List</h1>
				<p>Enter in the name of an org you want to browse. Org repos are automatically ranked for you. Click on a repo name to browse their details</p>
			</div>
			<div class="row top-buffer">
				<label for="basic-url">Type in your org name</label>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3">https://api.github.com/orgs/</span>
					<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="orgName" ng-keyup="$event.keyCode == 13 && getReposForOrgName()">
				</div>
			</div>

			<!--Work in progress, refactoring tables to use a directive-->
			<!--<div ng-if="repos">-->
				<!--<top-list-->
					<!--table-title="All Available Repos - Directive"-->
					<!--org-name="orgName"-->
					<!--table-description="Listed here are all available repositories for "-->
					<!--table-header='Name,Stargazers,Open Issues,Forks,Language,Description'-->
					<!--table-columns='name,stargazers_count,open_issues,forks_count,language,description'-->
					<!--data-repo="repos">-->
				<!--</top-list>-->
			<!--</div>-->

			<div class="row top-buffer" ng-show="repos">
				<h2>All Available Repos  <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#allRepoTable">Show/Hide</button></h2>
				<p>Listed here are all available repositories for {{orgName}}</p>
				<table class="table table-condensed collapse" id="allRepoTable">
					<thead>
					<td>Name</td>
					<td>Stargazers</td>
					<td>Open Issues</td>
					<td>Forks</td>
					<td>Language</td>
					<td>Description</td>
					</thead>
					<tbody>
					<tr ng-repeat="repo in repos" >
						<td><a href="" data-toggle="modal" data-target="#repoBrowserModal" ng-click="setRepo(repo)">{{repo.name}}</a></td>
						<td>{{repo.stargazers_count}}</td>
						<td>{{repo.open_issues}}</td>
						<td>{{repo.forks_count}}</td>
						<td>{{repo.language}}</td>
						<td>{{repo.description}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row top-buffer" ng-show="repos">
				<h2>Top 3 Repos  <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#greatestRepoTable">Show/Hide</button></h2>
				<p>Based on most watchers, forks, and least amount of open issues</p>
				<table class="table table-condensed collapse" id="greatestRepoTable">
					<thead>
					<td>Name</td>
					<td>Stargazers</td>
					<td>Open Issues</td>
					<td>Forks</td>
					<td>Language</td>
					<td>Description</td>
					</thead>
					<tbody>
					<tr ng-repeat="repo in greatestRepos" >
						<td><a href="" data-toggle="modal" data-target="#repoBrowserModal" ng-click="setRepo(repo)">{{repo.name}}</a></td>
						<td>{{repo.stargazers_count}}</td>
						<td>{{repo.open_issues}}</td>
						<td>{{repo.forks_count}}</td>
						<td>{{repo.language}}</td>
						<td>{{repo.description}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row top-buffer" ng-show="repos">
				<h2>Most Stargazers <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#stargazersRepoTable">Show/Hide</button></h2>
				<p>The following repos have the highest Stargazers count.</p>
				<table class="table table-condensed collapse" id="stargazersRepoTable">
					<thead>
					<td>Name</td>
					<td>Stargazers</td>
					<td>Language</td>
					<td>Description</td>
					</thead>
					<tbody>
					<tr ng-repeat="repo in starGazerRepos">
						<td><a href="" data-toggle="modal" data-target="#repoBrowserModal" ng-click="setRepo(repo)">{{repo.name}}</a></td>
						<td>{{repo.stargazers_count}}</td>
						<td>{{repo.language}}</td>
						<td>{{repo.description}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row top-buffer" ng-show="repos">
				<h2>Most Forks <button type="button" class="btn btn-sm  btn-info" data-toggle="collapse" data-target="#forkedRepoTable">Show/Hide</button></h2>
				<p>Just bring spoons and knives, these guys got the forks.</p>
				<table class="table table-condensed collapse" id="forkedRepoTable">
					<thead>
					<td>Name</td>
					<td>Forks</td>
					<td>Language</td>
					<td>Description</td>
					</thead>
					<tbody>
					<tr ng-repeat="repo in forkedRepos">
						<td><a href="" data-toggle="modal" data-target="#repoBrowserModal" ng-click="setRepo(repo)">{{repo.name}}</a></td>
						<td>{{repo.forks_count}}</td>
						<td>{{repo.language}}</td>
						<td>{{repo.description}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row top-buffer" ng-show="repos">
				<h2>Least Open Issues  <button type="button" class="btn btn-sm  btn-info" data-toggle="collapse" data-target="#leastOpenIssuesRepoTable">Show/Hide</button></h2>
				<p>These repos have the least amount of open reported issues, the key word being "reported".</p>
				<table class="table table-condensed collapse" id="leastOpenIssuesRepoTable">
					<thead>
					<td>Name</td>
					<td>Open Issues</td>
					<td>Language</td>
					<td>Description</td>
					</thead>
					<tbody>
					<tr ng-repeat="repo in leastOpenIssuesRepos">
						<td><a href="" data-toggle="modal" data-target="#repoBrowserModal" ng-click="setRepo(repo)">{{repo.name}}</a></td>
						<td>{{repo.open_issues}}</td>
						<td>{{repo.language}}</td>
						<td>{{repo.description}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row top-buffer" ng-show="repos">
				<h2>Most Open Issues <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#mostOpenIssuesRepoTable">Show/Hide</button></h2>
				<p>Following repos have the highest amount of open issues.</p>
				<table class="table table-condensed collapse" id="mostOpenIssuesRepoTable">
					<thead>
					<td>Name</td>
					<td>Open Issues</td>
					<td>Language</td>
					<td>Description</td>
					</thead>
					<tbody>
					<tr ng-repeat="repo in mostOpenIssuesRepos">
						<td><a href="" data-toggle="modal" data-target="#repoBrowserModal" ng-click="setRepo(repo)">{{repo.name}}</a></td>
						<td>{{repo.open_issues}}</td>
						<td>{{repo.language}}</td>
						<td>{{repo.description}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row top-buffer bottom-buffer" ng-show="repos">
				<h2>Languages Used <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#languagesRepoTable">Show/Hide</button></h2>
				<p>Here is a list of languages used in {{orgName}} repos. Ranked from highest to lowest with their repo names in the third column</p>
				<table class="table table-condensed collapse" id="languagesRepoTable">
					<thead>
					<td>Language</td>
					<td>Count</td>
					<td>Projects</td>
					</thead>
					<tbody>
					<tr ng-repeat="language in mostUsedLanguages">
						<td>{{language[0]}}</td>
						<td>{{language[1].count}}</td>
						<td>{{language[1].project}}</td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>


	</div>

	<!-- Modal -->
	<div id="repoBrowserModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Repo Browser: {{selectedRepo.name}}</h4>
					<div class="row">
						<div class="col-sm-3">
							<label>Owner </label><span>  {{selectedRepo.owner.login}}</span>
						</div>
					</div>
				</div>
				<div class="modal-body">
						<div class="container-fluid">
						<div class="row top-buffer" ng-show="repos">
							<div class="container-fluid">

								<div class="row">
									<div class="col-sm-10">
										<label>Description </label><span>  {{selectedRepo.description}}</span>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-3">
										<label>Stargazers </label><span>  {{selectedRepo.stargazers_count}}</span>
									</div>
									<div class="col-sm-3">
										<label>Forks </label><span>  {{selectedRepo.forks}}</span>
									</div>
									<div class="col-sm-3">
										<label>Open Issues </label><span>  {{selectedRepo.open_issues}}</span>
									</div>
									<div class="col-sm-3">
										<label>Size </label><span>  {{selectedRepo.size}}</span>
									</div>
								</div>

								<div class="row">
									<div id="exTab2">
										<ul class="nav nav-tabs top-buffer">
											<li class="active">
												<a  href="#commits" data-toggle="tab">Commits ( {{selectedRepoCommits.length}} )</a>
											</li>
											<li>
												<a href="#comments" data-toggle="tab">Comments ( {{selectedRepoComments.length}} )</a>
											</li>
											<li>
												<a href="#forks" data-toggle="tab">Forks ( {{selectedRepoForks.length}} )</a>
											</li>
										</ul>

										<div class="tab-content">
											<div class="tab-pane active scrollable-table" id="commits">
												<table class="table table-condensed ">
													<thead>
													</thead>
													<tbody>
														<tr ng-repeat="commit in selectedRepoCommits">
															<td>
																<label>SHA</label>  {{commit.sha}}<br>
																<label>Message</label>  {{commit.commit.message}}<br>
																<label>Author</label>  {{commit.commit.author.name}}<br>
																<label>Date</label>  {{commit.commit.author.date}}
															</td>
														</tr>
														<tr>
															<td><a href="" ng-click="getCommitsForRepo(selectedRepo, selectedRepoCommits.pagination)">More</a></td>
														</tr>
													</tbody>
												</table>
											</div>

											<div class="tab-pane scrollable-table" id="comments">
												<table class="table table-condensed ">
													<thead>
													</thead>
													<tbody>
													<tr ng-repeat="comment in selectedRepoComments">
														<td>
															<label>Date Posted</label>  {{comment.created_at}}<br>
															<label>Comment</label>  {{comment.body}}<br>
															<label>Author</label> <img class="thumbnail_img" src="{{comment.user.avatar_url}}">  {{comment.user.login}}<br>
														</td>
													</tr>
													<tr>
														<td><a href="" ng-click="getCommentsForRepo(selectedRepo, selectedRepoComments.pagination)">More</a></td>
													</tr>
													</tbody>
												</table>
											</div>

											<div class="tab-pane scrollable-table" id="forks">
												<table class="table table-condensed">
													<thead>
													</thead>
													<tbody>
													<tr ng-repeat="fork in selectedRepoForks">
														<td>
															<label>SHA</label>  {{fork.full_name}}<br>
															<label>Forked By</label> <img class="thumbnail_img" src="{{fork.owner.avatar_url}}"> {{fork.owner.login}}<br>
															<label>Created At</label>  {{fork.created_at}}<br>
															<label>Updated At</label>  {{fork.updated_at}}
														</td>
													</tr>
													<tr>
														<td><a href="" ng-click="getForksForRepo(selectedRepo, selectedRepoForks.pagination)">More</a></td>
													</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/node_modules/angular/angular.js"></script>
	<script src="/node_modules/lodash/lodash.js"></script>
	<script src="/js/controller.js"></script>
	<script src="/js/directives/top-list/topList.js"></script>
	<script src="/js/services/repoServices.js"></script>
</body>
</html>
