<div class="row top-buffer">
	<h2>{{tableTitle}}
		<button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#repoTable">Show/Hide</button>
	</h2>
	<p>{{tableDescription}} {{orgName}}</p>
	<table class="table table-condensed collapse" id="repoTable">
		<thead>
		<td ng-repeat="value in tableHeaderArray">{{value}}</td>
		</thead>
		<tbody>
		<tr ng-repeat="repo in dataRepos">
			<td>repo.name</td>
			<td ng-repeat="col in tableColumnsArray">{{repo[col]}}</td>
		</tr>
		</tbody>
	</table>
</div>